{% extends "public-base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css">     
{% endblock %}

{% block content %}


<h1 id="info">WebRtc Test</h1>

<!--
<div id="notSupported">
    <h1>Your browser does not support the Camera API.</h1>
    <img src="images/screenshot.png" align="center" />
</div>
-->
<div id="main" class="container">
    <textarea rows="5" cols="50" id="dataChannelSend" diabled placeholder="
        1: Press Start; 2: Enter text; Press Send"> </textarea>
    <textarea rows="5" cols="50" id="dataChannelReceive" disabled></textarea>
</div>

<div id="buttons" class="container">  
    <button id="startButton">Start</button>
    <button id="sendButton">Send</button>
    <button id="closeButton">Close</button>

</div>

<script src="/static/js/rtc_data.js"></script>
{% endblock %}
